/* === FARBEN === */

/*
Blau:               #1F4E8C
Dunkel Grau:        #3D3F45
Hell Grau:          #E5E5E5
Rot:                #A62C21
*/


/* === GLOBAL === */

body {
  margin: 0;
  font-family: 'Raleway', 'Lato', 'Helvetica Neue', Arial, sans-serif;
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

:focus {
  outline: none;
  box-shadow: 0 0 2px 2px #E5E5E5, 0 0 10px #E5E5E5;
}

section {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

@media (max-width: 1366px) {

  section {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

}

@media (max-width: 1024px) {

  section {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }

}

@media (max-width: 768px) {

  section {
    padding-top: .5rem;
    padding-bottom: .5rem;
  }

}

/* === GENERELLES === */

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.active {
  background-color: #A62C21 !important;
}

.wichtiger-text {
  font-weight: bold;
}

.screenreader {
  display: none;
}

.btn-typ-1 {
  background-color: #A62C21;
  border: 2px solid #A62C21;
  color: #FFF;
  padding: .4rem .6rem;
}

.btn-typ-1:hover {
  background-color: #A62C21;
  border: 2px solid #FFF;
}

.btn-typ-2 {
  border: 2px solid #FFF;
  background-color: transparent;
  border: 2px solid #A62C21;
  color: #FFF;
  padding: .4rem .6rem;
}

.btn-typ-2:hover {
  color: #A62C21;
  text-decoration: none;
  font-weight: bolder;
  border: 2px solid #A62C21;
}

.intro-container {
  text-align: center;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2.5rem;
}

@media (max-width: 1366px) {

  .intro-container {
    width: 90%;
  }

}

@media (max-width: 1024px) {

  .intro-container {
    width: 100%;
  }

}

.intro-container > h1 {
  font-size: 1.6rem;
  text-transform: uppercase;
}

.intro-container > p {
  font-size: 1.2rem;
}

@media (max-width: 1366px) {

  .intro-container > p {
    margin-bottom: .5rem;
  }

}

@media (max-width: 1024px) {

  .intro-container > p {
    margin-bottom: 0;
  }

}

/* === NAVIGATIONSLEISTE === */

#header-nav {
width: 100%;
height: 50px;
background-color: #3D3F45;
position: relative;
font-weight: bold;
font-size: 1.1rem;
}

#header-nav a > img {
  height: 30px;
  width: auto;
  float: left;
  margin: .55rem;
}

#header-nav ul {
  margin: 0;
  padding: 0;
  float: right;
  height: 100%;
}

#header-nav ul > li {
  display: inline-block;
  height: 100%;
  padding: 0 .4rem 0 .4rem;

}

#header-nav ul.Navigationsleiste1 > li > a {
  margin-top: .8rem;
  display: block;
}

#header-nav ul > li > a:link {
  color: #FFF;
  text-decoration: none;
}

#header-nav ul > li > a:hover {
  color: #E5E5E5;
  text-decoration: none;
}

#header-nav ul > li > a:active {
  color: #E5E5E5;
  text-decoration: none;
}

#header-nav ul > li > a:visited {
  color: #FFF;
  text-decoration: none;
}

#header-nav .col-6 {
  padding-top: 0;
  padding-bottom: 0;
}

#header-nav .container,
#header-nav .row,
#header-nav .col-6 {
  height: 100%;
}

.logo-link {
  display: inline-block;
}


/* === NAVIGATIONSLEISTE (MOBIL) === */

#mobile-nav-button {
  color: #FFF;
  float: right;
  font-size: 2rem;
  border: 2px solid #5d6066;
  width: 37px;
  height: 37px;
  position: relative;
  margin-top: .4rem;
  margin-bottom: .4rem;
  font-weight: 400;
}

#mobile-nav-button > span {
  position: absolute;
  bottom: -2px;
  left: 7px;
  margin-top: 32%;
}

#mobile-nav-content > ul > li {
  display: block;
  background-color: #3D3F45;
  height: 50px;
  padding: 1rem 1.2rem;
  text-align: center;
}

#mobile-nav-dropdown {
  position: relative;
  display: inline-block;
  float: right;
}

#mobile-nav-content {
  position: absolute;
  right: 0;
  top: 50px;
  display: none;
}

#mobile-nav-dropdown:hover > #mobile-nav-content {
  display: block;
}

#mobile-nav {
  display: none;
}

@media (max-width: 768px) {

  #desktop-nav {
    display: none;
  }

  #mobile-nav {
    display: block;
  }
}


/* === HEADER-BANNER === */

#header-banner {
  background: url("../img/hintergrund.jpg") no-repeat center center;
  width: 100%;
  height: 0;
  padding-top: 20.83%;
  background-size: contain;
}

#header-banner-klein {
  background: url("../img/hintergrund-klein.jpg") no-repeat center center;
  width: 100%;
  height: 0;
  padding-top: 15.625%;
  background-size: contain;
}



/* === NEWSLETTER-BEREICH === */

#newsletter-bereich {
  width: 100%;
  background-color: #3D3F45;
  padding-top: 0;
  padding-bottom: 0;
}

#nb-werbetext {
  color: #FFF;
  font-size: 1.1rem;
}

#nb-email-input {
  width: 78%;
  height: 35px;
  border: 2px solid #FFF;
  padding: .4rem;
}

#nb-form {
  margin: .7rem;
  float: right;
  width: 100%;
  text-align: right;
}

#nb-btn {
  height: 35px;
}

@media (max-width: 1822px) {

  #nb-email-input {
    width: 70%;
  }
}

@media (max-width: 1358px) {

  #nb-email-input {
    width: 100%;
    margin-bottom: .3rem;
  }

  #nb-btn {
    width: 100%;
  }

}

@media (max-width: 768px) {

  #nb-werbetext {
    display: none;
  }

  #nb-form {
    margin-top: 0;
  }

  #newsletter-bereich .col-4 {
    display: none;
  }

  #newsletter-bereich .col-2 {
    padding: .9rem 1rem;
    float: none;
    margin-left: 1.5%;
    margin-right: 2%;
  }

}

@media (max-width: 480px) {

  #nb-email-input {
  height: 25px;
  }

  #nb-btn {
    height: 25px;
    padding: .1rem;
  }

  #newsletter-bereich .col-2 {
    padding: .9rem 1rem;
    float: none;
    margin-left: 3%;
    margin-right: 2%;
  }

}

/*  === lEISTUNGEN-BEREICH === */

.leistung-box {
  background: #3D3F45;
  text-align:center;
  color: #FFF;
  padding: 1rem 3rem 2.5rem;
  width: 60%;
  margin-bottom: 1.6rem;
}


#leistungen-bereich .row > .col-3:nth-of-type(even) > .leistung-box {
  margin-left: 1rem;
  margin-right: auto;
}

#leistungen-bereich .row > .col-3:nth-of-type(odd) > .leistung-box {
  margin-right: 1rem;
  margin-left: auto;
}

.leistung-box > h2 {
  font-size: 1.4rem;
}

.leistung-ansehen-btn {
  text-decoration: none;
  height: 40px;
  display: inline-block;
  padding-top: .5rem;
  width: 40%;
  min-width: 100px;
  margin-top: 1rem;
}

.leistung-ansehen-btn:link {
  color: white;
}

.leistung-ansehen-btn:visited {
  color: white;
}

.leistung-ansehen-btn:active {
  color: white;
}

.leistung-ansehen-btn:hover {
  color: #A62C21;
  text-decoration: none;
  font-weight: bolder;
  border: 2px solid #A62C21;
}

@media (max-width: 1366px) {

  .leistung-box {
    width: 80%;
  }

}

@media (max-width: 1024px) {

  .leistung-box {
    width: 100%;
    margin-bottom: .6rem;
  }

  #leistungen-bereich .row > .col-3:nth-of-type(even) > .leistung-box {
    margin-left: .5rem;
  }

  #leistungen-bereich .row > .col-3:nth-of-type(odd) > .leistung-box {
    margin-right: .5rem
  }
}

@media (max-width: 768px) {

  #leistungen-bereich .row > .col-3:nth-of-type(even) > .leistung-box {
    margin-left: 0;
  }

  #leistungen-bereich .row > .col-3:nth-of-type(odd) > .leistung-box {
    margin-right: 0;
  }
}


/*
 === GRID-SYSTEM (SICHTBARKEIT) ===

.border, .border * {
  border: 1px solid #91C4FF;
}

[class*="col-"] {
  background: #BFDDFF;
}

p {
  background-color: #92C4FF;
  padding: 0;
  margin: 0;
  color: #FFF;
  text-align: center;
}

*/

/* === GRID-SYSTEM === */

.container {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

.row::after {
  content:"";
  clear: both;
  display: block;
}

[class*="col-"] {
  float: left;
  min-height: 1px;
  padding: .8rem;
}

.col-1 {width: 16.666%; }
.col-2 {width: 33.333%; }
.col-3 {width: 50%;     }
.col-4 {width: 66.666%;  }
.col-6 {width: 100%;    }


@media (max-width: 1024px) {

  .col-1 {width: 33.333%; }

}

@media (max-width: 768px) {

  .col-1 {width: 50%;  }
  .col-2 {width: 100%; }
  .col-3 {width: 100%; }
  .col-4 {width: 100%; }


}

@media (max-width: 480px) {

  .col-1 {width: 100%; }
  .col-2 {width: 100%; }
  .col-3 {width: 100%; }
  .col-4 {width: 100%  }


}
